@import url('https://fonts.googleapis.com/css?family=Quattrocento+Sans:400,700');

body {
  font-family: 'Quattrocento Sans', sans-serif;
  background: #767676;
  color: #000;
}

h1 {
  font-size: 200px;
}
